<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgets</title>
</head>
<body>
    <header>
        <h1>Budgets</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'category-list' %}">Categories</a> |
            <a href="{% url 'transaction-list' %}">Transactions</a>
        </nav>
    </header>

    <main>
        <ul>
            {% for budget in budgets %}
                <li>
                    {{ budget.category.name }} Budget: {{ budget.amount }} for {{ budget.budget_month }}/{{ budget.budget_year }}
                </li>
            {% empty %}
                <li>No budgets found.</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>